/*

.logo {
  display: grid;

  &__text {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    position: relative;
    // grid-row: 1/2;

    &--left {
      display: inline-block;
      margin-top: 0.5rem;
      margin-right: 1.5rem;
      color: var(--cl-white);
    }

    &--right {
      display: inline-block;
      z-index: 5;
      margin-top: 0.5rem;
      margin-right: 1.5rem;
      color: var(--cl-primary);
    }
  }

  &__svg {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    // grid-row: 1/2;
    width: 6rem;
    height: 6rem;
  }
}

*/
